Prueba1/web/WEB-INF/wsdl/localhost_8080/DoctorWS/HorarioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.soappet.com.pe/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.soappet.com.pe/" name="HorarioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.soappet.com.pe/" schemaLocation="http://localhost:8080/DoctorWS/HorarioWS?xsd=1" />
</xsd:schema>
</types>
<message name="obtenerHorario">
<part name="parameters" element="tns:obtenerHorario" />
</message>
<message name="obtenerHorarioResponse">
<part name="parameters" element="tns:obtenerHorarioResponse" />
</message>
<message name="RegistrarHorario">
<part name="parameters" element="tns:RegistrarHorario" />
</message>
<message name="RegistrarHorarioResponse">
<part name="parameters" element="tns:RegistrarHorarioResponse" />
</message>
<message name="MyException">
<part name="fault" element="tns:MyException" />
</message>
<portType name="HorarioWS">
<operation name="obtenerHorario">
<input wsam:Action="http://service.soappet.com.pe/HorarioWS/obtenerHorarioRequest" message="tns:obtenerHorario" />
<output wsam:Action="http://service.soappet.com.pe/HorarioWS/obtenerHorarioResponse" message="tns:obtenerHorarioResponse" />
</operation>
<operation name="RegistrarHorario">
<input wsam:Action="http://service.soappet.com.pe/HorarioWS/RegistrarHorarioRequest" message="tns:RegistrarHorario" />
<output wsam:Action="http://service.soappet.com.pe/HorarioWS/RegistrarHorarioResponse" message="tns:RegistrarHorarioResponse" />
<fault message="tns:MyException" name="MyException" wsam:Action="http://service.soappet.com.pe/HorarioWS/RegistrarHorario/Fault/MyException" />
</operation>
</portType>
<binding name="HorarioWSPortBinding" type="tns:HorarioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="obtenerHorario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="RegistrarHorario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MyException">
<soap:fault name="MyException" use="literal" />
</fault>
</operation>
</binding>
<service name="HorarioWS">
<port name="HorarioWSPort" binding="tns:HorarioWSPortBinding">
<soap:address location="http://localhost:8080/DoctorWS/HorarioWS" />
</port>
</service>
</definitions>