CitasREST/web/WEB-INF/wsdl/localhost_8080/ClienteWS/ClienteWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://service.soappet.com.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.soappet.com.pe/">

<xs:element name="MyException" nillable="true" type="tns:myExceptionBean" />

<xs:element name="eliminarCliente" type="tns:eliminarCliente" />

<xs:element name="eliminarClienteResponse" type="tns:eliminarClienteResponse" />

<xs:element name="guardarCliente" type="tns:guardarCliente" />

<xs:element name="guardarClienteResponse" type="tns:guardarClienteResponse" />

<xs:element name="listarClientes" type="tns:listarClientes" />

<xs:element name="listarClientesResponse" type="tns:listarClientesResponse" />

<xs:element name="obtenerCliente" type="tns:obtenerCliente" />

<xs:element name="obtenerClienteResponse" type="tns:obtenerClienteResponse" />

<xs:complexType name="guardarCliente">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apeMaterno" type="xs:string" minOccurs="0" />
<xs:element name="apePaterno" type="xs:string" minOccurs="0" />
<xs:element name="celular" type="xs:string" minOccurs="0" />
<xs:element name="correo" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="dni" type="xs:string" minOccurs="0" />
<xs:element name="estado" type="xs:int" />
<xs:element name="idcliente" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="telefono" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="myExceptionBean">
<xs:sequence />
</xs:complexType>

<xs:complexType name="eliminarCliente">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarClienteResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="obtenerCliente">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarClientes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarClientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>