CitasREST/web/WEB-INF/wsdl/localhost_8080/ClienteWS/ClienteWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.soappet.com.pe/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.soappet.com.pe/" name="ClienteWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.soappet.com.pe/" schemaLocation="http://localhost:8080/ClienteWS/ClienteWS?xsd=1" />
</xsd:schema>
</types>
<message name="listarClientes">
<part name="parameters" element="tns:listarClientes" />
</message>
<message name="listarClientesResponse">
<part name="parameters" element="tns:listarClientesResponse" />
</message>
<message name="eliminarCliente">
<part name="parameters" element="tns:eliminarCliente" />
</message>
<message name="eliminarClienteResponse">
<part name="parameters" element="tns:eliminarClienteResponse" />
</message>
<message name="obtenerCliente">
<part name="parameters" element="tns:obtenerCliente" />
</message>
<message name="obtenerClienteResponse">
<part name="parameters" element="tns:obtenerClienteResponse" />
</message>
<message name="MyException">
<part name="fault" element="tns:MyException" />
</message>
<message name="guardarCliente">
<part name="parameters" element="tns:guardarCliente" />
</message>
<message name="guardarClienteResponse">
<part name="parameters" element="tns:guardarClienteResponse" />
</message>
<portType name="ClienteWS">
<operation name="listarClientes">
<input wsam:Action="http://service.soappet.com.pe/ClienteWS/listarClientesRequest" message="tns:listarClientes" />
<output wsam:Action="http://service.soappet.com.pe/ClienteWS/listarClientesResponse" message="tns:listarClientesResponse" />
</operation>
<operation name="eliminarCliente">
<input wsam:Action="http://service.soappet.com.pe/ClienteWS/eliminarClienteRequest" message="tns:eliminarCliente" />
<output wsam:Action="http://service.soappet.com.pe/ClienteWS/eliminarClienteResponse" message="tns:eliminarClienteResponse" />
</operation>
<operation name="obtenerCliente">
<input wsam:Action="http://service.soappet.com.pe/ClienteWS/obtenerClienteRequest" message="tns:obtenerCliente" />
<output wsam:Action="http://service.soappet.com.pe/ClienteWS/obtenerClienteResponse" message="tns:obtenerClienteResponse" />
<fault message="tns:MyException" name="MyException" wsam:Action="http://service.soappet.com.pe/ClienteWS/obtenerCliente/Fault/MyException" />
</operation>
<operation name="guardarCliente">
<input wsam:Action="http://service.soappet.com.pe/ClienteWS/guardarClienteRequest" message="tns:guardarCliente" />
<output wsam:Action="http://service.soappet.com.pe/ClienteWS/guardarClienteResponse" message="tns:guardarClienteResponse" />
<fault message="tns:MyException" name="MyException" wsam:Action="http://service.soappet.com.pe/ClienteWS/guardarCliente/Fault/MyException" />
</operation>
</portType>
<binding name="ClienteWSPortBinding" type="tns:ClienteWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="listarClientes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MyException">
<soap:fault name="MyException" use="literal" />
</fault>
</operation>
<operation name="guardarCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MyException">
<soap:fault name="MyException" use="literal" />
</fault>
</operation>
</binding>
<service name="ClienteWS">
<port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
<soap:address location="http://localhost:8080/ClienteWS/ClienteWS" />
</port>
</service>
</definitions>