Prueba1/src/conf/xml-resources/web-service-references/HorarioWS/wsdl/localhost_8080/DoctorWS/HorarioWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://service.soappet.com.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.soappet.com.pe/">

<xs:element name="MyException" nillable="true" type="tns:myExceptionBean" />

<xs:element name="RegistrarHorario" type="tns:RegistrarHorario" />

<xs:element name="RegistrarHorarioResponse" type="tns:RegistrarHorarioResponse" />

<xs:element name="obtenerHorario" type="tns:obtenerHorario" />

<xs:element name="obtenerHorarioResponse" type="tns:obtenerHorarioResponse" />

<xs:complexType name="obtenerHorario">
<xs:sequence>
<xs:element name="idDoctor" type="xs:int" />
<xs:element name="fecha" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerHorarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:horarioDoctor" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="horarioDoctor">
<xs:sequence>
<xs:element name="fechaEntrada" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaSalida" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="idDoctor" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarHorario">
<xs:sequence>
<xs:element name="idDoctor" type="xs:int" />
<xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaFin" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarHorarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:horarioDoctor" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="myExceptionBean">
<xs:sequence />
</xs:complexType>
</xs:schema>