CitasREST/web/WEB-INF/wsdl/localhost_8080/MascotaWS/MascotaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://service.soappet.com.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.soappet.com.pe/">

<xs:element name="MyException" nillable="true" type="tns:myExceptionBean" />

<xs:element name="eliminarMascota" type="tns:eliminarMascota" />

<xs:element name="eliminarMascotaResponse" type="tns:eliminarMascotaResponse" />

<xs:element name="guardarMascota" type="tns:guardarMascota" />

<xs:element name="guardarMascotaResponse" type="tns:guardarMascotaResponse" />

<xs:element name="obtenerListadoMascotas" type="tns:obtenerListadoMascotas" />

<xs:element name="obtenerListadoMascotasResponse" type="tns:obtenerListadoMascotasResponse" />

<xs:complexType name="obtenerListadoMascotas">
<xs:sequence>
<xs:element name="idCliente" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerListadoMascotasResponse">
<xs:sequence>
<xs:element name="return" type="tns:mascota" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="mascota">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0" />
<xs:element name="edad" type="xs:int" minOccurs="0" />
<xs:element name="estado" type="xs:int" minOccurs="0" />
<xs:element name="idMascota" type="xs:int" minOccurs="0" />
<xs:element name="idcliente" type="xs:int" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="peso" type="xs:double" minOccurs="0" />
<xs:element name="raza" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="myExceptionBean">
<xs:sequence />
</xs:complexType>

<xs:complexType name="eliminarMascota">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarMascotaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="guardarMascota">
<xs:sequence>
<xs:element name="mascota" type="tns:mascota" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarMascotaResponse">
<xs:sequence>
<xs:element name="return" type="tns:mascota" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>